profile = ocamlformat
break-cases= all
assignment-operator=end-line
break-infix=wrap
sequence-style = separator
break-sequences = true

break-separators=after
sequence-style=separator

dock-collection-brackets=true
